*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: rgba(0, 0, 0, .74);
  padding: 2rem;
}
html{
  font-size: 62.5%;
}