.primary-heading{
    
    font-size: 6rem;
    line-height: 1.2;
    letter-spacing: -1;
    font-weight: bold;
    color: #000;
    margin-bottom: 2rem;
    font-family:'Courier New', Courier, monospace;

}