.group{
    margin-bottom: 1.4rem;
    margin-top: 1rem;
}
.label{
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.form-input{
    border-radius: 0;
    border: none;
    display: block;
    border-bottom: 1px solid #0f161d;
    padding: 1rem 1rem 1rem .5rem;
    font-size: 1.8rem;
}

/*
 background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;
*/